@import "tailwindcss";

@source "../*.php";
@source "../pages";
:root {
    --orange: #FF6B4A;
    --green: #2EC4B6;
    --secondary-green: #2EC4B6;
    --background: #F9FAFC;
    --informatie-text: #D8D8D8;
    --grijze-vakken: #9CA3AF;
    --grijze-overlay: 6C727F;
    --text-koppen: #000000; 
}